#InternationalOpportunities {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size:50pt;
    text-align: center;
    color: solid black;
    background-color: cornflowerblue;
    margin-top: 0;
    padding-top: 20pt;
    margin-bottom: 1pt;
    padding-bottom: 0;
    text-shadow: 1cm;
    width: 100%;
    height: 20%;
}

hr{
    margin-top: 0;
    padding-top: 0;
    height: 3px;
}


body{
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    height: 100%;
}
html{
    width:100%;
    height: 100%;
}