header {
  width: 100%;
  height: 20%;
  padding-bottom: 3%;
  padding-top: 10%;
  background-color: lightcyan;
}
header div {
  font-size: 50px;
  text-align: center;
}

li {
  list-style-type: none;
  width: 40%;
}
a {
  text-decoration: none;
  color: dodgerblue;
}
a:hover {
  color: greenyellow;
}
nav {
  width: 100%;
  height: 40%;
  text-align: center;
}
nav ul li {
  padding-right: 70%;
}
nav ul {
  padding-left: 40%;
  font-family: "Times New Roman", Times, serif;
  font-size: xx-large;
}

h4:nth-of-type(1) {
  color: powderblue;
}
