hmtl {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
body {
  width: 99%;
  height: 99%;
  margin: 0%;
  padding: 0%;
}
#chatWindow {
  margin-top: 25%;
  margin-left: 25%;
  margin-right: 10%;
}

#chat {
  height: 100%;
}

body {
  --s: 120px; /* control the size*/

  --_g: radial-gradient(#0000 70%, #1a2030 71%);
  background:
    var(--_g),
    var(--_g) calc(var(--s) / 2) calc(var(--s) / 2),
    conic-gradient(#0f9177 25%, #fdebad 0 50%, #d34434 0 75%, #b5d999 0);
  background-size: var(--s) var(--s);
}
